<div class="cabinet_murmures_journal">
  <h1 style="margin-top: -6px">Guide du système</h1>
  <p class="intro_chap">
    Bienvenue dans le système pour le jeu de rôle
    <em><strong>Le Cabinet des Murmures</strong></em>, de
    <strong>Matthias Haddad</strong>, édité par
    <em>Les XII singes</em>. Ce système pour FoundryVTT a été développé par Khaali et Kristov.
  </p>
  <h2>Création des éléments du jeu : esprits, corps, cabinet</h2>
  <p>
    Dans
    <em><strong>Le Cabinet des Murmures</strong></em>, les joueurs et joueuses incarnent des
    <em>esprits</em>
    qui doivent cohabiter dans un
    <em>Corps</em>. Les esprits forment un
    <em>Cabinet</em>.
  </p>
  <p>Tous ces éléments doivent d’abord être créés sur Foundry dans votre Monde (world) puis être reliés ensemble.</p>

  <h3>Création des esprits</h3>
  <p>
    Chaque joueur et joueuse incarne un esprit. Dans foundry, il s’agit d’<em>Actors</em>
    de type
    <em>Esprit</em>. Après avoir créé un esprit, vous devez donner au joueur / à la joueuse correspondante les droits de contrôle total dessus.
  </p>
  <p>
    Pour modifier une feuille d’esprit, il faut d’abord la déverrouiller (icone
    <i class="fas fa-lock"></i>). Une fois les modifications effectuées, reverrouillée la feuille en cliquant sur l’icône. Dans Foundry, les
    <em>Acquis</em>,
    <em>Pouvoirs</em>
    et
    <em>Corruptions</em>
    sont des items. Une fois créés, vous pouvez les attribuer à un esprit en les faisant glisser-déposer. Sur une feuille d’esprit, vous pouvez faire un clic-droit pour faire
    apparaitre un menbu qui vous permet de les modifier et de les supprimer.
  </p>
  <h3>Création du corps</h3>
  <p>
    Le
    <em>Corps</em>
    que contrôlent les
    <em>Esprits</em>
    est un Actor de type
    <em>Corps</em>. une fois créé, vous devez donner à tous les joueurs et joueuses les droits complets dessus. Pour modifier ses attributs il faut également le déverrouiler. Vous
    pouvez glisser-déposer des
    <em>Armes</em>
    sur cette feuille.
  </p>
  <h3>Création du Cabinet</h3>
  <p>
    Une fois les
    <em>Esprits</em>
    et le
    <em>Corps</em>
    créés, vous devez les réunir dans un
    <em>Cabinet</em>. Il s’agit d’un nouveau type d’Actor.
    <strong>Il ne peut y en avoir qu’un seul dans votre monde.</strong>
  </p>
  <p>
    Une fois le
    <m>Cabinet</m>
    créé, vous devez glisser-déposer dessus les
    <em>Esprits</em>
    et le
    <em>Corps</em>. Vous pouvez également glisser-déposer sur le
    <em>Cabinet</em>
    les
    <em>Acquis communs</em>
    et les
    <em>Grâces</em>.
  </p>
  <p>Vous pouvez ouvrir, modifier et retirer ces éléments avec le menu clic-droit.</p>
  <h2>Position : le Cabinet, le Comédien et le jardin secret</h2>
  <p>Un esprit peut etre dans le Cabinet, dans son jardin secret, ou bien être le comédien. La position d’un esprit est indiquée sur sa feuille d’esprit ainsi que sur la feuille de
    Cabinet, par un icône :</p>
  <div
    style="display: flex;
        align-items:center;"
  ><img style="width: 100px; border: 0px; margin: 10px;" src={{images.ICONE_JARDIN}} title="Dans son Jardin secret" /><p>&nbsp;&nbsp;Dans son Jardin secret</p></div>
  <div
    style="display: flex;
        align-items:center;"
  ><img style="width: 100px; border: 0px; margin: 10px;" src={{images.ICONE_CABINET}} title="Dans le Cabinet" /><p>&nbsp;&nbsp;Dans le Cabinet</p></div>
  <div
    style="display: flex;
        align-items:center;"
  ><img style="width: 100px; border: 0px; margin: 10px;" src={{images.ICONE_COMEDIEN}} title="Le Comédien (contrôle le Corps)" /><p>&nbsp;&nbsp;Le Comédien (contrôle le Corps)</p></div>
  <p>Pour se déplacer entre ces positions, il faut faire un clic-droit sur l’icône et choisir dans le menu.</p>
  <h2>Le Comédien</h2>
  <p>Il s’agit de l’esprit qui a le contrôle du corps. L’identité du Comédien vous est rappellée en haut et à droite de l'écran principal, et sur la fiche du Corps. Les Corruptions
    du Comédien y sont également indiquées, car elles apparaissent sur le Corps.</p>
  <p>Vous pouvez placer ce médaillon en bas à droite, ou ne pas le faire apparaître, dans les options du système.</p>
  <h2>Menu d’icônes</h2>
  <p>
    Sur la gauche de l’écran, l’icône
    <span style="text-indent: 0px" class="logo_comportement"></span>
    permet d’accéder au menu du système. Il vous permet d’accéder à l’arbre de vie et à des rappels de règles. L’écran des joueurs affiche également ce menu.
  </p>
  <h3>L’Arbre de Vie</h3>
  <div
    style="display: flex;
        align-items:center;"
  ><img style="width: 300px; border: 0px; margin: 10px;" src={{images.presentation_adv}} title="L’Arbre de Vie" /><p>Les esprits du Cabinet y sont représentés par leur
      <em>Token</em>. Ceux qui sont dans leur jardin secret sont dans la colonne de gauche. Les joueurs et joueuses peuvent déplacer leur esprit dans l’Arbre par glisser-déposer.
      Ils doivent respecter les règles de placement. Le MJ peut déplacer librement tous les tokens.</p></div>
  <p><br /></p>
  <div
    style="display: flex;
        align-items:center;"
  ><img style="width: 300px; border: 0px; margin: 10px;" src={{images.presentation_esprit_com}} title="Esprit" /><p>La position d’un esprit est rappellée sur sa feuille d’esprit :
      la valeur de la qualité correspondante est bleutée. Augustine est sur la Sphère Coordination / Malkuth</p></div>
  <h2>Actions</h2>
  <p>Les
    <em>actions</em>
    sont un type d'Item particulier. Elles permettent de simplifier les jets de dés. Glissez-déposez-les sur les Esprits, elles apparaîtront ensuite dans leur onglet Actions.</p>
  <div
    style="display: flex;
        align-items:center;"
  ><img style="width: 300px; border: 0px; margin: 10px;" src={{images.presentation_action}} title="Action" /><p>Si La case
      <em>Par défaut</em>
      est cocher, tous les nouveaux Esprits créés recevront automatiquement cette action.<br />La case à cocher
      <em>Contrôle</em>
      indique si l'Esprit doit avoir le contrôle du Corps pour pouvoir effectuer l'action.</p></div>
  <h2>Jets de dés</h2>
  <p>Les joueurs et joueuses peuvent initier un jet de dé de deux manières : en cliquant sur une qualité (dans l’onglet
    <em>Qualités</em>
    de la feuille d’esprit), ou en cliquant sur l’icone
    <i class="logo_action"></i>
    devant une action de l’onglet
    <em>Actions</em>.</p>
  <p>Une fenêtre s’ouvre alors pour indiquer les paramètres du jet de dé :</p>
  <div
    style="display: flex;
        align-items:center;"
  ><img style="width: 300px; border: 0px; margin: 10px;" src={{images.presentation_dialog}} title="Jet de dés" /><p>Indiquez la qualité, l’aspect et l’attribut utilisé. Ces chamops
      sont pré-remplis si vous avez cliquez suruune action.<br />Il est posible d’ajouter un acquis (parmis ceux de l’esprit et les acquis communs du Cabinet) et de dépenser des
      points de Perisprit.<br />Si l’esprit est positionné sur la sphère correspondante de l’arbre de vie, le menu Embellie permet de tenter une Embellie.</p></div>
  <div
    style="display: flex;
        align-items:center;"
  ><img style="width: 200px; border: 0px; margin: 10px;" src={{images.presentation_chat1}} title="Résultat" /><img
      style="width: 200px; border: 0px; margin: 10px;"
      src={{images.presentation_chat2}}
      title="Résultat"
    /><p>Cliquez sur le bouton en bas de la fenêtre pour affficher les détails du jet et du calcul du résultat.</p></div>
  <h2>Santé</h2>
  <div
    style="display: flex;
        align-items:center;"
  ><img style="width: 300px; border: 0px; margin: 10px;" src={{images.presentation_corps_sante}} title="Onglet santé" /><p>l’onglet
      <em>Santé</em>
      des fiches de Corps et de PnJ vus permet de tracer les blessures subies par le personnage par localisation. Le malus général est calculé automatiquement et rappellé lors des
      jets de dés.</p></div>
  <h3>Protections et armures</h3>
  <p>Le
    <em>Corps</em>
    et les
    <em>PnJs</em>
    peuvent équiper des protections sur des parties de leur corps. Pour cela, vous devez créer un objet Armure (ou utiliser ceux fournis par les modules officiels) et le
    glisser-déposer sur la feuille concernée. l’armure apparaitra sur la feuille et sa protection indiquée sur les parties du corps concernées. Une case à cocher vous permet
    d’éduipper ou d’enlever l’armure, ce qui enlève la protection sans supprimer l’objet de la feuille.</p>
  <h3>Modules officiels</h3>
  <img
    style="
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;width: 30%; border: 0px; margin: 10px;"
    src="systems/cabinet/assets/couvertures/couv_ldb.webp"
  />
  <p>
    <br />
    Le module "<em>Livre de base</em>" importe dans votre monde tout le contenu du livre de base :</p>
  <ul class="diamondlist">
    <li class="diamondli">les règles du jeu, la description de l’univers du <strong><em>Cabinet des Murmures</em></strong>,</li>
    <li class="diamondli">l’intégration de l’univers graphique dans les feuilles de personnage et autres éléments du système Foundry pour une meilleure ambiance et immersion,</li>
    <li class="diamondli">Toutes les actions de base pour simplifier les jets de dés,</li>
    <li class="diamondli">Les Acquis, Grâces, Corruptions, Armes, Protections directement rentrés sous la forme d’Items à glisser-déposer sur vos feuilles de personnage,</li>
    <li class="diamondli">le scénario "<em>Des monstres et des hommes</em>", ses aides de jeu, illustrations et PNJs.</li>
  </ul>
  <p class="no-indent"><a
      class="hyperlink"
      href="https://www.les12singes.com/modules-pour-vtt/489-cabinet-des-murmures-base-module-foundry-vtt.html"
      target="_blank"
      rel="nofollow noopener"
    >https://www.les12singes.com/modules-pour-vtt/489-cabinet-des-murmures-base-module-foundry-vtt.html</a></p>
  <img
    style="
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;width: 30%; border: 0px; margin: 10px;"
    src="systems/cabinet/assets/couvertures/couv_gdp.webp"
  />
  <p>
    <br />
    Le module "<em>Le Guide de Paris</em>" intègre dans Foundry le contenu des livres
    <em>Le guide de Paris dans l’Europe des Aigles</em>
    et
    <em>Hantises 1</em>: la description de chaque quartier de Paris dans l’univers du
    <strong><em>Cabinet des Murmures</em></strong>, ainsi que leurs intrigues et amorces de scénarios, et 3 scénarios complets qui se passent dans la ville, leurs aides de jeu,
    illustrations et PNJs.
  </p>
  <ul class="diamondlist">
    <li class="diamondli">"<em>La femme coupée en deux</em>" : Alors qu’un meurtre sordide secoue le milieu du spectacle, les Esprits se réveillent dans le corps de Monsieur
      Balthazar, célèbre illusionniste. Que font-ils là et qu’ont-ils à voir avec le drame ?</li>
    <li class="diamondli">"<em>La Machine à harmonie</em>" : lorsque la vie d’une famille est bouleversée par une étonnante invention, les Esprits s’éveillent dans le corps d’un
      enfant de huit ans. Pourront-ils protéger les proches du petit médium et apaiser la vieille querelle qui les met tous en danger ? Un long scénario parisien - avec 4 Esprits
      préparés et leurs souvenirs.</li>
    <li class="diamondli">"<em>Le Lys et la rose</em>" : engagée par l’Opéra impérial pour assurer la sécurité de la troupe de ballet, Elvire Mercier, détective privée et ancienne
      ballerine, devient l’hôte des Esprits. Une succession d’incidents va leur prouver que le Lys de Pondichéry est bel et bien un ballet funeste. Sauront-ils libérer l’oeuvre et
      l’Opéra de leur malédiction ? Un long scénario parisien - avec 4 Esprits préparés et leurs souvenirs.</li>
  </ul>
  <p class="no-indent"><a
      class="hyperlink"
      href="https://www.les12singes.com/modules-pour-vtt/496-cabinet-des-murmures-paris-hantises-1-module-foundry-vtt.html"
      target="_blank"
      rel="nofollow noopener"
    >https://www.les12singes.com/modules-pour-vtt/496-cabinet-des-murmures-paris-hantises-1-module-foundry-vtt.html</a></p>
  <img
    style="
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;width: 30%; border: 0px; margin: 10px;"
    src="systems/cabinet/assets/couvertures/couv_h2.webp"
  />
  <p>
    <br />
    Le module "<em>Hantises 2</em>" intègre dans Foundry le contenu de
    <em>Hantises 2</em>: 2 longs scénarios qui se déroulent en Europe, leurs aides de jeu, illustrations et PNJs.
  </p>
  <ul class="diamondlist">
    <li class="diamondli">"<em>Lalibela</em>" après avoir découvert la cité perdue de Roha, en Abyssinie, l’expédition Maupas est portée disparue. Le capitaine Felipe de Vargos,
      médium à la tête de la mystérieuse unité Alpha est envoyé à leur recherche. À peine débarqué, il est habité par les Esprits des explorateurs. Sauront-ils vaincre le terrible
      gardien de Roha, retrouveront-ils la mystérieuse Caja de Dolor ? Un scénario d’exploration et de survie dans un environnement hostile. Un long scénario éthiopien - avec 4
      Esprits préparés et leurs souvenirs.</li>
    <li class="diamondli">"<em>Le Diable de Whitechapel</em>" : dans Londres la française, on ne parle que de cette mystérieuse figure diabolique et ricanante : Spring Heeled Jack
      ! Cette légende urbaine a-t-elle un lien avec les terribles assassinats de médiums rapportés par la presse ? Les Esprits, dans la peau du jeune Arthur Conan Doyle, sont là
      pour le découvrir et protéger leurs semblables. Un long scénario londonien - avec 4 Esprits préparés et leurs souvenirs.
    </li>
  </ul>
  <h3>Questions, aides, discussions...</h3>
  <p>
    Vous avez une question ? Vous avez trouvé un bug ? Vous voulez discuter de Trinités, avoir des conseils de MJs qui l’ont déjà fait jouer ? Vous cherchez des joueurs et des
    joueuses ?
  </p>
  <p>Rejoignez :</p>
  <ul class="diamondlist">
    <li class="diamondli">"La Fonderie", le serveur Discord francophone dédié à Foundry VTT :
      <a class="hyperlink" href="https://discord.gg/pPSDNJk" target="_blank" rel="nofollow noopener">https://discord.gg/pPSDNJk</a></li>

    <li class="diamondli">Le serveur Discord des 12 Singes :
      <a class="hyperlink" href="https://discord.gg/dzVxXMyp" target="_blank" rel="nofollow noopener">https://discord.gg/dzVxXMyp</a></li>
  </ul>

</div>