<header class="actor-header">
  {{! Sheet Navigation }}
  {{#if tabMode}}
  <nav class="sheet-tabs tabs tablist" aria-roledescription="{{localize 'SHEETS.FormNavLabel'}}">
    {{#each tabs as |tab|}}
    <a class="choix_tab {{tab.cssClass}}" data-action="tab" data-group="{{tab.group}}" data-tab="{{tab.id}}"
        {{#if tab.tooltip}}data-tooltip="{{tab.tooltip}}"{{/if}}>
        {{#if tab.icon}}<i class="{{tab.icon}}"></i>{{/if}}
        {{#if tab.label}}<label>{{localize tab.label}}</label>{{/if}}
    </a>
    {{/each}}
  </nav>
  {{/if}}
  {{> "systems/magna/templates/sheets/parts/unlock-icon.hbs"}}
  <div class="actor-portrait std-contextmenu" data-group="portrait">
  {{#if unlocked}}
      <img src="{{actor.img}}" data-edit="img" title="{{actor.name}}" />
  {{else if (ne actor.img "icons/svg/mystery-man.svg")}}
        <img src="{{actor.img}}" title="{{actor.name}}" />
  {{/if}}
  </div>
  <div class="charname">
    <input name="name" type="text" value="{{actor.name}}" />
  </div>
    <div class="aura" title="{{localize 'MAGNA.LABEL.deployerAura'}}">
        {{#if nbAuraDeployees}}<i class="fa-solid fa-person-rays"></i>{{else}}<i class="fas fa-person"></i>{{/if}}
      <div class="val_stats">
        : {{nbAuraDeployees}}
      </div>
    </div>
  <div class="bloc_stats std-contextmenu" style="grid-row: 1/2;grid-column: 4/5;" data-group="vitalite">
    <div class="nom_stat" title="VIG+5">
      Vitalité
    </div>
    <div class="val_stats">
      <input type="number" name="system.vitalite.valeur" value="{{actor.system.vitalite.valeur}}" min="0" step="1" /> / 
    </div>
    <div class="val_stats">
      {{actor.system.vitalite.max}}
    </div>
  </div>
  <div class="bloc_stats std-contextmenu" style="grid-row: 2/3;grid-column: 4/5;" data-group="mental">
    <div class="nom_stat" title="VOL+PSI">
      Mental
    </div>
    <div class="val_stats">
      <input type="number" name="system.mental.valeur" value="{{actor.system.mental.valeur}}" min="0" max="50" step="1" /> / 
    </div>
    <div class="val_stats">
      {{actor.system.mental.max}}
    </div>
  </div>
  {{#if showpex}}
  <div class="bloc_stats pex-contextmenu" style="grid-row: 3/4; grid-column:4/5">
    <div class="nom_stat">
      PEX
    </div>
    <div class="val_stats" title="Disponibles">
      {{#if autopex}}
        {{pexvalue}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;/
      {{else}}
        {{#if unlocked}}
          <input type="number" name="system.pex.valeur" value="{{actor.system.pex.valeur}}" /> / 
        {{else}}
          {{actor.system.pex.valeur}}
        {{/if}}
      {{/if}}
    </div>
    <div class="val_stats" title="Total acquis">
      {{#if unlocked}}
        <input type="number" name="system.pex.total" value="{{actor.system.pex.total}}" title="Total" />
      {{else}}
        {{actor.system.pex.total}}
      {{/if}}
    </div>
  </div>
  {{/if}}
</header>