<div class="bloc_comp">
  <div class="nom_comp">
    {{#if unlocked}}
      <input class="compspe-edit" data-id={{id}} data-type={{typecomp}} data-field="label" type="text" value="{{competence.label}}" placeholder="new" />
    {{else}}
    {{competence.label}}
    {{/if}}
  </div>
  <div class="val_comp">
    {{#if unlocked}}
      <input class="compspe-edit" data-id={{id}} data-type="{{typecomp}}" data-field="valeur" type="number" value="{{competence.valeur}}" placeholder="0" />
    {{else}}
      {{competence.valeur}}
    {{/if}}
  </div>
  <div class="icon_caracteristique">
    {{#if unlocked}}
    <i class="fas fa-trash compspe-delete" data-id={{id}} data-type="{{typecomp}}"></i>
    {{else}}
    <i class="fas fa-dice roll-carac" data-group="competences_spe" data-field="{{id}}" data-type="{{typecomp}}"></i>
    {{/if}}
  </div>
</div>