<section class="content">
  <div class="dialog-intro">Jet de : <span class="label_comp">{{label1}}  +  {{label2}}</span></div>
  <div class="dialog-grid">
    <div class="left_col">
      <h3>Modifier le second terme</h3>
      <div class="dialog-colgrid">
        <div class="comp-titre">Caractéristiques</div>
        <div class="comp-titre">
          <select class="changefield" name="caracteristiques">
          {{selectOptions caracteristiques selected=carac labelAttr="label_short" blank="Aucune"}}
          </select>
        </div>
        <div class="comp-titre">Indices</div>
        <div class="comp-titre">
          <select class="changefield" name="indices">
            {{selectOptions indices selected=indice labelAttr="label_short" blank="Aucun"}}
          </select>
        </div>
      </div>
    </div>
    <div class="right-col">
      <div class="dialog-colgrid">
        <div class="comp-titre">Modificateur</div>
        <div class="comp-titre">
          <select class="changeMod" name="modificateur">
            {{selectOptions difficultes selected=modificateurLab labelAttr="label"}}
          </select>
        </div>
        <div class="comp-titre">Opposition</div>
        <div class="comp-titre">
          <input class="oppositionChange" data-field="oppositionChange" name="opposition" type="number" value="{{opposition}}" placeholder="Pas d'opposition" />
        </div>
      </div>
    </div>
  </div>
</section>