{{!log "chat standard check roll" this}}
<div class="action-chat {{cssClass}}">
  <div class="intro-chat">
    {{#if (ne data.actingCharImg "icons/svg/mystery-man.svg")}}
      <div class="intro-img">
        <img src="{{data.actingCharImg}}" title="{{data.actingCharName}}" />
      </div>
    {{/if}}
    <div class="intro-right">
      <p class="introText">{{{data.introText}}}</p>
    </div>
  </div>
    <div class="dice-result">
      <p class="dice-result">
          Jet de {{data.label1}}{{#if data.part2}} + {{data.label2}}{{/if}}
      </p>
      {{#if data.modificateur}}
      <p class="dice-result">
        Modificateur : {{data.modificateur}}
      </p>
      {{/if}}
      {{#if data.opposition}}
      <p class="dice-result">
        Oposition : {{data.opposition}}
      </p>
      {{/if}}
      <p class="dice-result">
        SR : {{data.seuilReussite}}
      </p>
      <div class="result-tooltip">
        <span class="tooltiptext">{{{data.diceTooltip}}}</span>
      </div>
      <p class="finalText" data-tooltip="{{data.difficulteToolTip}}"></p>
      <p>Marge du résultat : {{{data.result}}}</p>
      <p>{{{data.finalText}}}</p>
  </div>
</div>