{{!log "chat standard check roll" this}}
<div class="action-roll-chat {{cssClass}}">
  <div class="intro">
    {{#if (ne data.actingCharImg "icons/svg/mystery-man.svg")}}
      <div class="introImg">
        <img src="{{data.actingCharImg}}" title="{{data.actingCharName}}" />
      </div>
    {{/if}}
    <div class="intro_right">
      <p class="introText">{{{data.introText}}}</p>
      Jet de {{data.label1}} + {{data.label2}}
      <div class="ligne_img">
      SR : {{data.seuilReussite}}
    </div>
  </div>
  <div class="dice-result">
    <div class="result-tooltip">
      <p>Marge du résultat : {{{data.result}}}</p>
      <p>{{{data.finalText}}}</p>
      <span class="tooltiptext">{{{data.diceTooltip}}}</span>
    </div>
    <p class="finalText" data-tooltip="{{data.difficulteToolTip}}">{{{data.finalText}}}</p>
  </div>
</div>