{{!log "chat standard check roll" this}}
<div class="action-chat {{cssClass}}">
  <div class="intro-chat">
    {{#if (ne data.actingCharImg "icons/svg/mystery-man.svg")}}
      <div class="intro-img">
        <img src="{{data.actingCharImg}}" title="{{data.actingCharName}}" />
      </div>
    {{/if}}
    <div class="intro-right">
      <p class="introText">{{{data.introText}}}</p>
    </div>
  </div>
    <div class="dice-result">
      {{#if data.doRoll}}
        <p class="dice-result">
            Jet de 
        <span class="formulatooltip">{{data.label1}}
          <span class="tooltiptext">{{{data.valeur1}}}</span></span>
        {{#if data.part2}} + <span class="formulatooltip">{{data.label2}}<span class="tooltiptext">{{{data.valeur2}}}</span></span>{{/if}}
        </p>
        {{#if data.modificateur}}
        <p class="dice-result">
          Modificateur : {{getModText data.modificateurLab}}
        </p>
        {{/if}}
        {{#if data.opposition}}
        <p class="dice-result">
          Opposition : {{data.opposition}}
        </p>
        {{/if}}
        <p class="dice-result">
          SR : {{data.seuilReussite}}
        </p>
        <img src="systems/magna/assets/system/griffes.webp",/>
          <div class="diceicon">{{rolleddice}}</div>
        <p>Marge du résultat : {{{data.result}}}</p>
      {{/if}}
      <p class="finalText">{{{data.finalText}}}</p>
      {{#if data.showlasttext}}
      <p class="finalText">{{{data.lasttext}}}</p>
      {{/if}}
    {{#if data.retracte}}
        <img src="systems/magna/assets/system/griffes.webp",/>
      <div class="retracte">
        
      <p class="finalText"> Durée de l'aura : {{ data.valDuree }}</p> 
      <p class="finalText"> {{ getContrecoupText data.actingCharName data.result data.degatsMentaux }}</p> 

      </div>
    {{/if}}
  </div>
</div>