<div class="pouvoir-content">
  {{#if aff_domaines}}
    {{formGroup systemFields.domaines value=system.competence localize=true disabled=locked}}
  {{/if}}
  {{formGroup systemFields.voie value=system.voie classes="input-large" disabled=locked}}
  {{formGroup systemFields.resume value=system.resume classes="input-large" disabled=locked}}
  {{formGroup systemFields.portee value=system.portee classes="input-large" disabled=locked}}
  {{formGroup systemFields.cibles value=system.cibles classes="input-large" disabled=locked}}
  {{formGroup systemFields.rang value=system.rang disabled=locked}}
  {{formGroup systemFields.rang_min value=system.rang_min disabled=locked}}
  {{formGroup systemFields.defaultAtt value=system.defaultAtt classes="input-large" localize=true disabled=locked}}
</div>